/* colors yall */

$fuschia: #E1315b;
$lemon: #FFEc5c;
$bluerasp: #008DCB;
$orange: #F47D4A;

/* color yalllllll */

body {
  background: no-repeat center center fixed linear-gradient($fuschia, $bluerasp);
}
h2, h3 {
  animation-duration: 5s;
}
.wrapper {
  margin: 20px 0 20px 0;
  height: 120px;
}
.disNone {
  display: none;
}
.disBlock {
  display: block;
}
.projDiv {
    width: 100%;
    height: 200px;
    border: 2px solid black;
    padding: 0px;
}