/* colors yall */

$fuschia: #E1315b;
$lemon: #FFEc5c;
$bluerasp: #008DCB;
$orange: #F47D4A;

/* color yalllllll */


h2, h3 {
  animation-duration: 5s;
}

.projDiv {
    width: 100%;
    height: 200px;
    border: 2px solid black;
    padding: 0px;
}