body {
  font-family: 'Raleway', sans-serif;
}

@media only screen and (max-width: 480px) {body { font-size: 10px; }}
@media only screen and (max-width: 1024px) {body { font-size: 12px; }}
@media only screen and (max-width: 1600px) {body { font-size: 14px; }}
@media only screen and (min-width: 1601px) {body { font-size: 18px; }}

h2 {
  margin-bottom: 5px;
  font-size: 3em;
}

h3 {
  font-size: 2em;
}

a {
  text-decoration: none;
  color: inherit;
  
}
a:link, a:visited {
  text-decoration: none;
  color: inherit;
}

.header {
  height: 450px;
  background: no-repeat center center fixed linear-gradient(45deg, #E1315b, #008DCB); 
  background: no-repeat center center fixed -webkit-linear-gradient(45deg, #E1315b, #008DCB);
  background: no-repeat center center fixed -o-linear-gradient(45deg, #E1315b, #008DCB);
}
#headerRow {
  margin-left: 20%;
}
#headerText {
  animation-duration: 2s;
  animation-delay: .1s;
  font-size: 10em;
}

#subHeading {
  animation-duration: 2s;
  animation-delay: .4s;
  font-size: 3em;
}

#headerSmall {
  animation-duration: 2s;
  animation-delay: .4s;
  font-size: 30px;
}

.proj {
  position: relative;
}

.projTitle, .projAuthor {
  animation-duration: 2s;
}

.projTitle {
  margin-left: 20%; 
  animation-delay: 0s;
}

.projAuthor {
  margin-left: 22%;
  animation-delay: .3s;
}

.wrapper {
  padding: 20px 0 0 0;
  margin-bottom: 20px;
  height: 180px; 
}

.projDiv {
  width: 100%;
  height: 400px;
  padding: 0px; 
}

.fa-play-circle {
  position: absolute;
  top: 50%;
  left: 50%;
}
#projDiv1 {
  background: no-repeat center center fixed -webkit-linear-gradient(#272727, #2A2D34);
  background: no-repeat center center fixed -o-linear-gradient(#272727, #2A2D34);
  background: no-repeat center center fixed linear-gradient(#272727, #2A2D34); 
  height: 1000px;
}

#projDiv1 .projTitle{
  color: #6666ff;
}
#projDiv1 .projAuthor{
  color: #6666ff;
}
#projDiv2 {
  background: no-repeat center center fixed -webkit-linear-gradient(bottom left, #7658ed, #fca4c5);
  background: no-repeat center center fixed -o-linear-gradient(bottom left, #7658ed, #fca4c5);
  background: no-repeat center center fixed linear-gradient(to top right, #7658ed, #fca4c5);
  height: 600px;
}

#projDiv3 {
  background-image: no-repeat center center fixed -webkit-linear-gradient(-45deg, #BCEDF6, #6F7D8C);
  background-image: no-repeat center center fixed -o-linear-gradient(-45deg, #BCEDF6, #6F7D8C);
  background: no-repeat center center fixed linear-gradient(-45deg, #BCEDF6, #6F7D8C);
  height: 1000px;
}
#projDiv3 .projTitle{
  color: #A32900;
}
#projDiv3 .projAuthor{
  color: #A32900;
}

.disNone {
  display: none; 
}

.disBlock {
  display: block; 
}



#footer {
  text-align: center;
  padding-top: 20px;
  height: 100px;
  background: no-repeat center center fixed linear-gradient( #E1315b, #008DCB); 
  background: no-repeat center center fixed -webkit-linear-gradient( #E1315b, #008DCB);
  background: no-repeat center center fixed -o-linear-gradient( #E1315b, #008DCB);
}

.fa-2x {
  margin: 5px;
}
/*# sourceMappingURL=style.css.map */
